/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

@font-face {
  font-family: 'Host Grotesk';
  src: url('/fonts/HostGrotesk-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: 'Host Grotesk';
  src: url('/fonts/HostGrotesk-Italic-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: italic;
}

* {
  font-family: 'Host Grotesk';
  color: #222222;
}

.navbar__item {
  cursor: pointer;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 3px;
}

.navbar__item:hover {
  background-color: #e6e6e6;
}

.navbar__link--active:hover {
  background-color: #e6e6e6;
  color: #222222;
}

.navbar__link--active {
  background-color: #ffe70e;
  color: #222222;
}
.navbar__link--portal {
  background-color: #222222;
  color: #fff;
}
.navbar__link--portal:hover {
  background-color: #ffe70e;
  color: #222222;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* styles.css */
#__docusaurus_skipToContent_fallback svg,
#__docusaurus_skipToContent_fallback svg g,
#__docusaurus_skipToContent_fallback svg path {
  stroke-width: 6;
  vector-effect: non-scaling-stroke;
}

@media (max-width: 390px) {
  #__docusaurus_skipToContent_fallback svg,
  #__docusaurus_skipToContent_fallback svg g,
  #__docusaurus_skipToContent_fallback svg path {
    stroke-width: 3.5;
  }
}

.arrow {
  stroke-width: 3 !important;
}

/* tialwind text-lg */
.navbar__inner,

.menu__list-item {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

/* Aktiver Link */
.menu__list-item > .menu__link.menu__link--active {
  background-color: #ffe70e;
  color: #222222;
}

.menu__list-item > .menu__link.menu__link:hover {
  background-color: #e6e6e6;
}

.menu__list-item-collapsible--active {
  background-color: #ffe70e;
}
.menu__list-item-collapsible--active:hover {
  background-color: #e6e6e6;
}

.menu__list-item-collapsible--active > .menu__link.menu__link--sublist.menu__link--active {
  color: #222222;
}

.menu__list-item-collapsible:hover {
  background-color: #e6e6e6;
} 

.menu__list-item-collapsible--active:hover > .menu__link.menu__link--sublist.menu__link--active {
  color: #222222;
}

.breadcrumbs__link {
  background-color: #e6e6e6;
}

input[class*="searchInput"] {
  background-color: #e6e6e6 !important;
}

.navbar__search input::placeholder {
  color: #222222;
}



