/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

@font-face {
  font-family: 'Host Grotesk';
  src: url('/fonts/HostGrotesk-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: 'Host Grotesk';
  src: url('/fonts/HostGrotesk-Italic-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: italic;
}

* {
  font-family: 'Host Grotesk';
  color: #222222;
}

.navbar__item {
  cursor: pointer;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 3px;
}

.navbar__item:hover {
  background-color: #e6e6e6;
}

.navbar__link--active:hover {
  background-color: #e6e6e6;
  color: #222222;
}

.navbar__link--active {
  background-color: #ffe70e;
  color: #222222;
}
.navbar__link--portal {
  background-color: #222222;
  color: #fff;
}
.navbar__link--portal:hover {
  background-color: #ffe70e;
  color: #222222;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* styles.css */
#__docusaurus_skipToContent_fallback svg,
#__docusaurus_skipToContent_fallback svg g,
#__docusaurus_skipToContent_fallback svg path {
  stroke-width: 6;
  vector-effect: non-scaling-stroke;
}

@media (max-width: 390px) {
  #__docusaurus_skipToContent_fallback svg,
  #__docusaurus_skipToContent_fallback svg g,
  #__docusaurus_skipToContent_fallback svg path {
    stroke-width: 3.5;
  }
}

.arrow {
  stroke-width: 3 !important;
}

/* tialwind text-lg */
.navbar__inner,

.menu__list-item {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

/* Aktiver Link */
.menu__list-item > .menu__link.menu__link--active {
  background-color: #ffe70e;
  color: #222222;
}

.menu__list-item > .menu__link.menu__link:hover {
  background-color: #e6e6e6;
}

.menu__list-item-collapsible--active {
  background-color: #ffe70e;
}
.menu__list-item-collapsible--active:hover {
  background-color: #e6e6e6;
}

.menu__list-item-collapsible--active > .menu__link.menu__link--sublist.menu__link--active {
  color: #222222;
}

.menu__list-item-collapsible:hover {
  background-color: #e6e6e6;
} 

.menu__list-item-collapsible--active:hover > .menu__link.menu__link--sublist.menu__link--active {
  color: #222222;
}

.breadcrumbs__link {
  background-color: #e6e6e6;
  margin-bottom: 0.2rem;
}
.breadcrumbs__link:hover {
  background-color: #ffe70e;
}

input[class*="searchInput"] {
  background-color: #e6e6e6 !important;
}

.navbar__search input::placeholder {
  color: #222222;
}

[class*="cardContainer_"] {
  border-color: #222222 !important;
  border-radius: 2px;
  border-width: 1.5px;
  box-shadow: none !important;
}

[class*="cardContainer_"] h2 {
  transition: text-decoration 0.2s ease;
}

[class*="cardContainer_"]:hover h2 {
  text-decoration: underline;
}

.pagination-nav {
  display: none !important;
}
.custom-no-underline {
  text-decoration: none !important;
}

.custom-no-underline:hover {
  text-decoration: none !important;
}

.faq-accordion {
  background-color: #fff; /* berlin-background */
  border: 3px solid #222222; /* berlin-gray */
  border-radius: 0px;
  padding: 0.5em 1em;
  margin-bottom: 1em;
  transition: background-color 0.3s ease;
}

.faq-accordion summary {
  display: block; 
  font-weight: bold;
  color: #ffe70e; 
  cursor: pointer;
  list-style: none; /* entfernt Standard-Dreieck */
  position: relative;
  padding-left: 1.5em;
  color: #222222;
  transition: backround-color 0.3 ease;
}

.faq-accordion:not([open]):hover { /* aktuell noch gesamter textblock */
  background-color: #ffe70e; 
  transition: background-color 0.3s ease;
}

.faq-accordion summary::marker {
  content: none; /* Firefox Pfeil entfernen */
}

.faq-accordion summary::before {

  border-color: transparent transparent transparent #141414 !important;

}

.faq-accordion[open] summary::before {
  transform: rotate(90deg);
  border-color: transparent transparent transparent #ffe70e !important;
}

.faq-accordion .faq-content {
  margin-top: 0.5em;
  color: #141414; /* illustration-black */
}

.faq-accordion[open] summary {
  display: block;        
  width: 100%;           
  background-color: #ffe70e; 
  color: #222222;
  border-radius: 0px;
  padding: 1em; 
  box-sizing: border-box; 
  cursor: pointer;       
}


.faq-accordion summary {
  overflow: hidden;       
  border-radius: 6px;     
}

/* Ersetzen der blauen Trennlinie mit einer grauen Trennlinie */

/* 1) Das erste Element NACH dem summary vorbereiten */
.faq-accordion summary + * {
  position: relative;   
  z-index: 0;
  /* alle üblichen Quellen deaktivieren */
  border-top: 0 !important;
  box-shadow: none !important;
  outline: 0 !important;
  background-image: none !important;
}

/* 2) Blaue Linie löschen */
.faq-accordion summary + *::before {
  content: "";
  position: absolute;
  left: 0; right: 0;
  top: -1px;              /* exakt über der „blauen“ Linie */
  height: 2px;            /* 1–2px, je nach tatsächlicher Linienstärke */
  background: #fff;       /* HINTERGRUNDFARBE des Inhalts/Containers! anpassen falls nötig */
  pointer-events: none;
  z-index: 1;             /* liegt ÜBER Border/UA-Linie */
}

/* 3)Graue Trennlinie zeichnen */
.faq-accordion summary + *::after {
  content: "";
  position: absolute;
  left: 0; right: 0;
  top: 0;                 
  height: 1px;
  background: #ccc;       
  pointer-events: none;
  z-index: 2;
}

/* Bewegen der Linie vermeiden */
.faq-accordion .faq-content {
  margin-top: 0 !important;
  padding-top: 0.5rem;
}


/* Hinweisboxen anpassen */

:root {
  --ifm-alert-border-radius: 0; 
}

/* Farben der Hinweisboxen anpassen */

:root {
  --ifm-color-secondary-contrast-background: #fff;  /* NOTE Hintergrund */
  --ifm-color-info-contrast-background:      #e7f3fd;  /* INFO Hintergrund */
  --ifm-color-danger-contrast-background:    #ffe6e9;  /* DANGER Hintergrund */
}

/* Border Infobox anpassen */
.theme-admonition.theme-admonition-info,
.theme-admonition.alert.alert--info {
  --ifm-alert-border-color: #222222;
  border-left-color: #222222 !important;
  background-color: #FAF9FE;
  box-shadow: none;
}
.theme-admonition.alert.alert--info a {
  text-decoration-thickness: 2px;
}
.theme-admonition.alert.alert--info a:hover {
  text-decoration-thickness: 3px;
}

/* Boder Dangerbox anpassen */
.theme-admonition.theme-admonition-danger,
.theme-admonition.alert.alert--danger {
  --ifm-alert-border-color: #e40422;
  border-left-color: #e40422 !important;
}

/* Boder warning anpassen */
.theme-admonition.theme-admonition-warning,
.theme-admonition.alert.alert--warning {
  --ifm-alert-border-color: #FFE70E;
  border-left-color: #FFE70E !important;
    background-color: #FFFACC;
}

.theme-admonition.theme-admonition-tip,
.theme-admonition.alert.alert--tip {
  --ifm-alert-border-color: #00AA84;
  border-left-color: #00AA84 !important;
    background-color: #CCFFF4;
}

/* ----- ICONS anpassen ------- */

/* ========== Danger-Icon ========== */


/* 1) Altes Icon verstecken */
.theme-admonition.theme-admonition-danger > [class^="admonitionHeading_"] [class^="admonitionIcon_"] > svg,
.theme-admonition.theme-admonition-danger > [class*="admonitionHeading_"] [class*="admonitionIcon_"] > svg {
  display: none !important;
  width: 0 !important;
  height: 0 !important;
  opacity: 0 !important;
  visibility: hidden !important;
}

.theme-admonition.theme-admonition-danger [class^="admonitionIcon_"],
.theme-admonition.theme-admonition-danger [class*="admonitionIcon_"] {
  display: inline-block !important;
  width: 1.25em; height: 1.25em;
  background-color: currentColor;
  -webkit-mask-image: url('/img/alert-octagon.svg');
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
  -webkit-mask-size: contain;
  mask-image: url('/img/alert-octagon.svg');
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: contain;
}

/* Gemeinsame Heading-Ausrichtung der Icons */
.theme-admonition.theme-admonition-danger > [class^="admonitionHeading_"],
.theme-admonition.theme-admonition-danger > [class*="admonitionHeading_"],
.theme-admonition.theme-admonition-info   > [class^="admonitionHeading_"],
.theme-admonition.theme-admonition-info   > [class*="admonitionHeading_"],
.theme-admonition.theme-admonition-note   > [class^="admonitionHeading_"],
.theme-admonition.theme-admonition-note   > [class*="admonitionHeading_"] {
  display: inline-flex;
  align-items: center;
  gap: .5rem;
}

/* ========== INFO-Icon ========== */
/* 1) altes Icon verstecken */
.theme-admonition.theme-admonition-info > [class^="admonitionHeading_"] [class^="admonitionIcon_"] > svg,
.theme-admonition.theme-admonition-info > [class*="admonitionHeading_"] [class*="admonitionIcon_"] > svg {
  display: none !important;
  width: 0 !important;
  height: 0 !important;
  opacity: 0 !important;
  visibility: hidden !important;
}
/* 2) neues Icon */
.theme-admonition.theme-admonition-info > [class^="admonitionHeading_"]::before,
.theme-admonition.theme-admonition-info > [class*="admonitionHeading_"]::before {
  content: "";
  width: 1.25em; height: 1.25em; flex: 0 0 1.25em;
  background-color: currentColor;
  -webkit-mask-image: url('/img/info.svg');
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
  -webkit-mask-size: contain;
  mask-image: url('/img/info.svg');
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: contain;
}

/* ========== NOTE-Icon ========== */
/* 1) altes Icon verstecken */
.theme-admonition.theme-admonition-note > [class^="admonitionHeading_"] [class^="admonitionIcon_"] > svg,
.theme-admonition.theme-admonition-note > [class*="admonitionHeading_"] [class*="admonitionIcon_"] > svg {
  display: none !important;
  width: 0 !important;
  height: 0 !important;
  opacity: 0 !important;
  visibility: hidden !important;
}
/* 2) neues Icon einfügen */
.theme-admonition.theme-admonition-note > [class^="admonitionHeading_"]::before,
.theme-admonition.theme-admonition-note > [class*="admonitionHeading_"]::before {
  content: "";
  width: 1.25em; height: 1.25em; flex: 0 0 1.25em;
  background-color: currentColor;
  -webkit-mask-image: url('/img/alert-circle.svg');
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
  -webkit-mask-size: contain;
  mask-image: url('/img/alert-circle.svg');
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: contain;
}
