
.heroimage {
  flex: 0 0 250px;
}

.heroimage img {
  max-width: 90%;
  height: auto;
}

.doccontainer {
  padding-left: 2rem;   /* entspricht px-8 */
  padding-right: 2rem;  /* entspricht px-8 */
  margin-left: auto;    /* mx-auto */
  margin-right: auto;   /* mx-auto */
  width: 100%;

  /* ab xl-Bildschirmgrößen */
}

@media (min-width: 1280px) {
  .doccontainer {
    padding-left: 0;     /* xl:px-0 */
    padding-right: 0;    /* xl:px-0 */
    width: 80%;          /* xl:w-4/5 */
  }
}

p a {
  text-decoration: underline;
  text-decoration-thickness: 2px;
}

p a:hover {
  text-decoration-thickness: 3px;
}


h2 {
  margin-top: 4rem;
  margin-bottom: 2rem;
  font-size: 30px;
}

@media (max-width: 640px) {
  h1 {
    font-size: 34px; /* kleiner für Mobile */
  }
}

@media (max-width: 640px) {
  h2 {
    font-size: 26px; /* kleiner für Mobile */
  }
}

h3 {
  margin-top: 2.75rem;
  margin-bottom: 1.5rem;
}

.imgcaption {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 0.25rem; /* entspricht Tailwind pt-1 */
  font-size: 0.875rem;   /* entspricht Tailwind text-sm */
}